<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
  
  <!-- Load CSS -->
  <link rel="stylesheet" href="/static/style.css">

  <!-- Load Page Title -->
  <title>CITS3200</title>

  {% if config.DEBUG %}
    <script type="module" src="http://localhost:5173/@vite/client"></script>
  {% endif %}
</head>
<body>
  <!-- Container for block content -->
  <div id="root" class="content container-lg">
    {% block content %}{% endblock %}
  </div>

  {% if config.DEBUG %}
    <script type="module" src="http://localhost:5173/src/main.tsx"></script>
  {% else %}
    <script type="module" src="{{ url_for('static', filename='index.js') }}"></script>
  {% endif %}
</body>
</html>

Version 5 of 5



